* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    min-width: 50vh;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: mediumseagreen; 
    padding: 1rem;
    max-width: 600px;
    margin: auto;
    
}

.heading {
    text-align: center;
    padding: 1rem;
}

.description {
    width: auto;
    margin: auto;
    text-align: center;
    font-size: x-large;
}

table {
    width: 100%;
    text-align: justify;
    margin: auto;
}

th, td {
    background-color: aliceblue;
    padding: 0.5rem;
    text-align: center; 
    border: 1px solid black;
    width: 0%;
}

caption {
    font-size: x-large;
    font-weight: bold;
    padding: 1rem;
}

button {
    width: auto;
    padding: 1rem;
    font-size: large;
    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    display: block;
}

input {
    width: auto;
    padding: 1rem;
    text-align: center;
    font-size: medium;
    border-radius: 1rem;
}

label {
    width: auto;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem;
    display: block;
}

#error-message {
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
  }

  /* footer */

footer {
    text-align: center;
    margin-top: 2rem;
  }
  
  footer p {
    font-size: large;
    text-align: center;
  }
  
  .footer-list {
    margin: 1rem;
  }
  
  img, li {
    display: inline;
  }

  a {
    text-decoration: none;
    display: inline;
  }
  
  img {
    width: 50px;
    padding: 0.4rem;
  }